<footer>
    <p class="disclaimer">nflbettingsimulator.com is in no way affiliated with or endorsed by the National
        Football League
        (NFL), any of its teams, or any related organizations. All NFL-related content, including team names, logos, and
        trademarks, are the property of the NFL and their respective owners. nflbettingsimulator.com is not monetized in
        any way and is intended to be used for informational and entertainment purposes only. All content is used in
        good faith under the belief that it falls within the bounds of fair use for non-commercial purposes. If you are
        the owner of any content and would like it removed, please contact nflbettingsimulator@gmail.com.</p>
    <p class="copyright">&copy; 2024 nflbettingsimulator.com. All rights reserved. (This copyright does not include any
        content copyrighted and owned by the NFL or any other teams or related organizations.)</p>
    <p class="contactInfo">Contact Info: nflbettingsimulator@gmail.com</p>
</footer>