<nav>
    <img class="beta" src="../img/beta.png" alt="Beta">
    <div class="logo">Logo</div>
    <img class="name" src="../img/name.png" alt="Subjectively Bettor">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/bets">Bets</a></li>
    </ul>

    <section class="nav-buttons">
        <div class="accountDiv">
            <img class="cash" src="../img/cash.png" alt="Cash">
            <div>$</div>
            <div class="account"></div>
        </div>
        <button>Login</button>
        <button>Create Account</button>
    </section>
</nav>