<nav>
    <img class="beta" src="../img/beta.png" alt="Beta">
    <img src="../img/logo.png" alt="Logo">
    <h1>Subjectively Bettor</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/bets">Bets</a></li>
    </ul>



    <section class="nav-buttons">
        <img class="cash" src="../img/cash.png" alt="Cash">
        <div class="accountDiv">
            <div>$</div>
            <div class="account"></div>
        </div>
        <button>Create Account</button>
        <button>Login</button>
    </section>
</nav>