<nav>
    <!-- <img class="beta" src="../img/beta.png" alt="Beta"> -->
    <div class="logo">Logo</div>
    <img class="name" src="../img/name.png" alt="Subjectively Bettor">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/bets">Bets</a></li>
    </ul>

    <section class="nav-buttons">
        <div class="accountDiv">
            <i class="fa-sharp fa-solid fa-coins" style="color: #ffd700;"></i>
            <div>$</div>
            <div class="account"></div>
        </div>
        <% if(!currentUser) { %>
            <a href="/login"><button>Login</button></a>
            <a href="/register"><button>Create Account</button></a>
            <%} else {%>
                <a href="/logout"><button>Logout</button></a>
                <%}%>
    </section>
</nav>

<%= success %>
    <%= error %>