<%- include('./partials/navbar.ejs'); %>

    <section>
        <div>
            <h1>Previous</h1>
            <p>Bets</p>
        </div>

        <div>
            <h1>Current</h1>
            <p>Bets</p>
        </div>

        <div>
            <h1>Upcoming</h1>
            <p>Bets</p>
        </div>
    </section>