<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Bets</title>
</head>
<body>
    <h1>All Bets</h1>
<ul>
    <% for(let bet of bets) { %>
        <li><%= bet.teamName %></li>
        <li><%= bet.spread %></li>
        <li><%= bet.betAmount %></li>
    <% } %>
</ul>
    
</body>
</html>