<%- include('./partials/navbar.ejs') %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bets</title>
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/bets.css">
    </head>

    <body>
        <h1>Bets</h1>

        <section>
            <h2>Placed Bets</h2>
            <ul class="titles">
                <li>Start Time</li>
                <li>Home Team</li>
                <li>Away Team</li>
                <li>Bet</li>
                <li>Winnings</li>
            </ul>

            <ul class="bets">
                <li class="start">SUN 2/26 1:25pm PT</li>
                <li class="home">Seattle Seahawks -2.5</li>
                <li class="away">Arizona Cardinals +2.5</li>
                <li class="bet">Seattle Seahawks $110</li>
                <li class="winnings">$100</li>
            </ul>
        </section>

        <div>
            <h2 class="completed">Completed Bets</h2>

            <ul class="titles">
                <li>Start Time</li>
                <li>Home Team</li>
                <li>Away Team</li>
                <li>Bet</li>
                <li>Winnings</li>
                <li>Win</li>
            </ul>

            <ul class="bets">
                <li class="start">SUN 2/26 1:25pm PT</li>
                <li class="home">Seattle Seahawks -2.5</li>
                <li class="away">Arizona Cardinals +2.5</li>
                <li class="bet">Seattle Seahawks $110</li>
                <li class="winnings">$100</li>
                <li>True</li>
            </ul>

            <ul class="bets">
                <li class="start">SUN 2/26 1:25pm PT</li>
                <li class="home">Seattle Seahawks -2.5</li>
                <li class="away">Arizona Cardinals +2.5</li>
                <li class="bet">Seattle Seahawks $110</li>
                <li class="winnings">$100</li>
                <li>False</li>
            </ul>
        </div>
    </body>

    </html>