<%- include('./partials/navbar.ejs') %>

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bets</title>
        <link rel="stylesheet" href="css/navbar.css">
        <link rel="stylesheet" href="css/bets.css">
    </head>

    <body>
        <section>
            <div>
                <h1>Placed Bets</h1>
                <p>Bets</p>
            </div>

            <div>
                <h1>Locked Bets</h1>
                <p>Bets</p>
            </div>

            <div>
                <h1>Completed Bets</h1>
                <p>Bets</p>
            </div>
        </section>
    </body>

    </html>