<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjectively Bettor</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <h1>Subjectively Bettor</h1>

    <section>
        <div>Account Balance:</div>
        <div class="account"></div>
    </section>

    <section class="games"></section>

    <dialog class="placeBetModal">
        <div class="closeBetModal">X</div>
        <h2>Pick a Team</h2>
        <div class="betModalHomeTeam"></div>
        <div class="homeSpread"></div>
        <div class="betModalAwayTeam"></div>
        <div class="awaySpread"></div>
        <h2>Place Your Bet</h2>
        <input type="number" class="betAmount">
        <button class="placeBet">Place Bet</button>
    </dialog>

    <dialog class="confirmBetModal">
        <p>You have placed a (AMOUNT1) bet on the (TEAM1) at (ODDS) odds. If the (TEAM1) beat the (TEAM2) by more than
            (POSITIVE-ODDS) you will win (AMOUNT2) Otherwise you will lose the entirety of the bet. If you understand
            this and wish to proceed please click the confirmation button below.</p>
        <button class="confirmBet">Confirm Bet</button>
        <button class="cancelBet">Cancel</button>
    </dialog>

    <script src="js/index.js"></script>
</body>

</html>