<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjectively Bettor</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>

    <!-- Navbar -->
    <%- include('./partials/navbar.ejs') %>

        <!-- Record -->
        <section class="record">
            <div>Record:</div>
            <div>127-109</div>
        </section>

        <!-- Spent Money -->
        <div class="money">
            <div>Spent Money:</div>
            <div class="spentMoney">1000</div>
            <button class="edit-balance">Edit</button>
        </div>

        <dialog class="edit-balance-modal">
            <div>Enter positive number to add money or negative number to withdraw.</div>
            <input type="number" class="change">
            <button class="submit-edit-balance-modal">Submit</button>
        </dialog>

        <!-- Games -->
        <section class="games">
            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>

                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <section class="game">
                <button>Pick</button>

                <div class="info">
                    <div class="top">
                        <div>Seattle Seahawks</div>
                        <div>vs</div>
                        <div>Arizona Cardinals</div>
                    </div>

                    <div class="bottom">
                        <div>-4.5</div>
                        <div>-110</div>
                        <button>Bet</button>
                        <div>+4.5</div>
                        <div>-110</div>
                    </div>
                </div>


                <button>Pick</button>
            </section>

            <dialog class="placeBetModal">
                <div class="closeBetModal">X</div>
                <h2>Pick a Team</h2>

                <section class="modalTeams">
                    <div class="modalTeam1">
                        <div class="betModalHomeTeam"></div>
                        <div class="homeSpread"></div>
                    </div>

                    <div class="modalTeam2">
                        <div class="betModalAwayTeam"></div>
                        <div class="awaySpread"></div>
                    </div>
                </section>


                <h2>Place Your Bet</h2>
                <input type="number" class="betAmount">
                <button class="placeBet">Place Bet</button>
            </dialog>

            <dialog class="confirmBetModal">
                <p class="confirmBetModalMessage"></p>
                <button class="confirmBet">Confirm Bet</button>
                <button class="cancelBet">Cancel</button>
            </dialog>

            <script src="js/index.js"></script>
</body>

</html>