<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjectively Bettor</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <h1>Subjectively Bettor</h1>
    <div class="homeTeams">Home Teams</div>
    <div class="awayTeams">Away Teams</div>

    <section class="games">

    </section>
    <script src="js/index.js"></script>
</body>

</html>