<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subjectively Bettor</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://kit.fontawesome.com/927b7ac6ca.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Source+Serif+Pro&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <section class="landing">

            <img class="beta" src="../img/beta.png" alt="Beta">
            <div class="showcase">
                <div class="intro">
                    <h1>Welcome to Subjectively Bettor</h1>
                    <h2>A free NFL betting simulator</h2>
                </div>

                <div class="scroll">
                    <h2>Place Your Bets</h2>
                    <a href="#target"><i class="fa-solid fa-arrow-down" style="color: #54b654;"></i></a>
                </div>
            </div>
        </section>

        <section class="main">
            <section class="record">

                <div class="target">000-000</div>
                <div class="recordWords">Picks</div>
                <a class="anchor" name="target"></a>
                <% if (currentUser) { %>
                    <div class="money">
                        <div>Spent Money:</div>
                        <div>$</div>
                        <div class="spentMoney">
                            <%= currentUser.spentMoney %>
                        </div>
                        <button class="edit-balance">Edit</button>
                    </div>
                    <% } %>
            </section>

            <dialog class="edit-balance-modal">
                <button class="close-edit-balance-modal">X</button>
                <div>Enter positive number to add money or negative number to withdraw.</div>
                <form action="/editbalance" method="POST">
                    <input type="number" class="change" id="editBalance" name="editBalance">
                    <button class="submit-edit-balance-modal">Submit</button>
                </form>

            </dialog>



            <div>
                <label for="weeks">Weeks</label>
                <select name="weeks" id="weeks">
                    <option value="Pick">Pick Week...</option>
                    <option value="Week1">Week 1</option>
                    <option value="Week2">Week 2</option>
                    <option value="Week3">Week 3</option>
                    <option value="Week4">Week 4</option>
                    <option value="Week5">Week 5</option>
                    <option value="Week6">Week 6</option>
                    <option value="Week7">Week 7</option>
                    <option value="Week8">Week 8</option>
                    <option value="Week9">Week 9</option>
                    <option value="Week10">Week 10</option>
                    <option value="Week11">Week 11</option>
                    <option value="Week12">Week 12</option>
                    <option value="Week13">Week 13</option>
                    <option value="Week14">Week 14</option>
                    <option value="Week15">Week 15</option>
                    <option value="Week16">Week 16</option>
                    <option value="Week17">Week 17</option>
                    <option value="Week18">Week 18</option>
                </select>
            </div>

            <section class="games"></section>
        </section>

        <dialog class="placeBetModal">
            <div class="closeBetModal">X</div>
            <h2>Pick a Team</h2>

            <section class="modalTeams">
                <div class="modalTeam1">
                    <div class="betModalHomeTeam"></div>
                    <!-- <div class="homeSpread"></div> -->
                    <div class="homePoints"></div>
                    <div class="homePrice"></div>
                </div>

                <div class="modalTeam2">
                    <div class="betModalAwayTeam"></div>
                    <div class="awayPoints"></div>
                    <div class="awayPrice"></div>
                    <!-- <div class="awaySpread"></div> -->
                </div>
            </section>

            <h2>Place Your Bet</h2>
            <form action="/" method="POST">
                <label for="teamName">Team Name</label>
                <input name="teamName" type="text" id="teamName" class="" value="" readonly>

                <label for="points">Points</label>
                <input name="points" type="text" id="points" class="" readonly>

                <label for="price">Price</label>
                <input name="price" type="text" id="price" class="" readonly>

                <label for="betAmount">Bet</label>
                <input name="betAmount" type="text" id="betAmount" class="" inputmode="numeric" pattern="[0-9+-.]+">

                <label for="winnings">Winnings</label>
                <input type="number" name="winnings" id="winnings" readonly>

                <button class="placeBet">Place Bet</button>
            </form>
        </dialog>

        <script src="js/index.js"></script>
</body>

</html>