<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFL Betting Simulator: Login</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="https://kit.fontawesome.com/927b7ac6ca.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Source+Serif+Pro&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <section class="login-container">
            <h1>Login to Your Account</h1>

            <form action="/login" method="POST">
                <div>
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username">
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password">
                </div>

                <a href="/forgot-password" class="forgot-password">Forgot password?</a>

                <div>
                    <button class="login-button">Login</button>
                </div>
            </form>
        </section>

        <%- include('./partials/footer.ejs') %>

            <script src="js/navbar.js"></script>
</body>

</html>