<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Bets Page</title>
</head>

<body>
    <!-- Add navbar partial here -->
    <h1>Bets</h1>

    <h2>Placed Bets</h2>

    <ul class="newBets"></ul>

    <h2>Completed Bets</h2>

    <ul class="completedBets"></ul>

    <script src="js/newBets.js"></script>
</body>

</html>