<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Bets Page</title>
</head>
<body>
    <h1>Bets saved in local storage</h1>

    <ul class="newBets"></ul>

    <script src="js/newBets.js"></script>
</body>
</html>