<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/bets.css">
    <script src="https://kit.fontawesome.com/927b7ac6ca.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Source+Serif+Pro&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <h1>Create your account</h1>

        <form action="/register" method="POST">
            <label for="email">email</label>
            <input type="text" id="email" name="email">

            <label for="username">username</label>
            <input type="text" id="username" name="username">

            <label for="password">password</label>
            <input type="text" id="password" name="password">

            <button>Create Account</button>
        </form>
</body>

</html>