<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFL Betting Simulator: Reset Password</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/forgot-password.css">
    <script src="https://kit.fontawesome.com/927b7ac6ca.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron&family=Source+Serif+Pro&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('./partials/navbar.ejs') %>

        <h1>Reset your password</h1>

        <form action="/reset-password" method="POST">
            <label for="password">New Password</label>
            <input type="password" id="password" name="password">

            <label for="confirmPassword">Confirm New Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword">

            <button>Submit</button>
        </form>

        <script src="js/navbar.js"></script>
</body>

</html>