* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 90%;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background.jpg');
}

html {
    scroll-behavior: smooth;
}

.main {
    background-position: 100% 90%;
    background-repeat: no-repeat;
    height: 100vh;
}

.intro {
    line-height: 45px;
}

h1 {
    font-size: 3rem;
    font-family: 'Orbitron';
}

h2 {
    font-size: 1.5rem;
    font-family: 'Orbitron';
}

.scroll h2 {
    font-size: 1.5rem;
    font-family: 'Orbitron';
    line-height: 40px;
}

.scroll a i {
    transition: 1s;
}

.scroll a i:hover {
    transform: translateY(0.5rem);
    filter: brightness(1.5);
}

.beta {
    width: 8rem;
    margin: 1.5rem;
    margin-bottom: 0rem;
}

/* SHOWCASE */
.landing {
    width: 100%;
    height: 100vh;
    color: white;
}

.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    margin-top: 30rem;
}

/* GAME TEST */
.teams {
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    /* align-items: center; */
    /* font-size: 1.3rem; */
    /* width: 90%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-top: 1rem;
    /* font-size: 1rem; */
    color: white;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    justify-content: center;
}

.middle {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    width: 5%;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    justify-content: center;
}

.picks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pickImg {
    height: 7rem;
    width: 7rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid blue;
    background-color: #e5e5e5;
}

.picks img {
    height: 7rem;
    width: 7rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    padding: 0.5rem;
    border: 1px solid blue;
    background-color: #e5e5e5;
}

.picks img:hover {
    background-color: rgb(255, 255, 255);
}

.picks div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #e5e5e5;
}

.picks button {
    border: none;
    font-size: 1.2rem;
    background-color: #19198a;
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-family: 'source serif pro';
}

.names {
    font-size: 1.6rem;
}

.status {
    color: white;
}

/* GAME TEST */

/* Record */
.record {
    backdrop-filter: blur(10px);
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* width: 80%; */
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 5rem; */
    font-size: 1.8rem;
    /* border: 1px solid white; */
}

.target {
    color: white;
}

.anchor {
    position: absolute;
    top: -4rem;
}

.recordWords {
    font-size: 1.2rem;
    color: white;

}

.spread {
    color: white;
}

/* Spent Money */
.money {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 1rem;
    width: 15rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 2px solid #54b654;
    border-radius: 10px;
    color: white;
}

.money button {
    border: none;
    background-color: #19198a;
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-family: 'source serif pro';
}

.money button:hover {
    filter: brightness(1.2);
}

/* Games */
.games {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.game {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    backdrop-filter: blur(25px);
    background-color: #9b9b9b7d;
}

.top {
    display: flex;
    justify-content: space-evenly;
    border: 1px solid red;
    width: 100%;
}

.pick {
    border: 1px solid blue;
    display: flex;
    justify-content: space-evenly;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid green;
}

.game button:hover {
    filter: brightness(1.2);
}

/* Place Bet Modal */
.placeBetModal {
    max-width: 50%;
    margin: auto;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: -5px 5px 5px grey;
    background-color: #dbdbdb;
}

.closeBetModal {
    margin-left: auto;
    cursor: pointer;
    color: white;
    background-color: lightgrey;
    padding: 0.3rem;
    display: inline;
    border-radius: 5px;
}

.placeBetModal h2 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modalTeams {
    display: flex;
}

.modalTeam1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;
}

.modalTeam2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.5rem;
}

.betModalHomeTeam {
    cursor: pointer;
}

.betModalAwayTeam {
    cursor: pointer;
}

.betAmount {
    height: 1.5rem;
    padding-left: 0.1rem;
    width: 5rem;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.placeBet {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #6331c1;
    color: white;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
}

.closeBetModal:hover {
    filter: brightness(1.2);
}

.placeBet:hover {
    filter: brightness(1.2);
}