* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 90%;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/background.jpg');
}

html {
    scroll-behavior: smooth;
}

.main {
    background-position: 100% 90%;
    background-repeat: no-repeat;
    height: 100vh;
}

.intro {
    line-height: 45px;
}

h1 {
    font-size: 3rem;
    font-family: 'Orbitron';
}

h2 {
    font-size: 1.5rem;
    font-family: 'Orbitron';
}

.scroll h2 {
    font-size: 1.5rem;
    font-family: 'Orbitron';
    line-height: 40px;
}

.scroll a i {
    transition: 1s;
}

.scroll a i:hover {
    transform: translateY(0.5rem);
    filter: brightness(1.5);
}

.beta {
    width: 8rem;
    margin: 1.5rem;
    margin-bottom: 0rem;
}

/* SHOWCASE */
.landing {
    width: 100%;
    height: 100vh;
    color: white;
}

.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    margin-top: 30rem;
}

/* Games */
#weeks {
    font-family: 'Orbitron';
    font-size: 1.2rem;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 30px;
}

#weeks:hover {
    cursor: pointer;
}

.games {
    font-family: 'Orbitron';
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.game {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    backdrop-filter: blur(25px);
    background-color: #9b9b9b7d;
}

.teams {
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 16px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 5%;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}

.names {
    font-size: 1.3rem;
}

.spread {
    font-size: 0.8rem;
}

.picks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picks div img {
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
}

.picks div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    height: 100%;
    width: 45%;

}

.picks button {
    font-family: 'Orbitron';
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: #19198a;
    padding: 3px;
    cursor: pointer;
}

.status {
    color: white;
    margin-bottom: 5px;
}

.modalTeam1:hover {
    filter: brightness(1.2);
}

.modalTeam2:hover {
    filter: brightness(1.2);
}

.game button:hover {
    filter: brightness(1.2);
}

/* Record */
.record {
    backdrop-filter: blur(10px);
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* width: 80%; */
    height: 5rem;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 5rem; */
    font-size: 1.8rem;
    /* border: 1px solid white; */
}

.target {
    color: white;
}

.anchor {
    position: absolute;
    top: -4rem;
}

.recordWords {
    font-size: 1.2rem;
    color: white;

}

.spread {
    color: white;
}

/* Spent Money */
.money {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #9d9d9d47;
    border-radius: 10px;
    color: white;
    font-family: 'Orbitron';
}

.money button {
    border: none;
    background-color: #19198a;
    padding: 0.5rem 0.8rem;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: 'Orbitron';
}

.money button:hover {
    filter: brightness(1.2);
}

.spentMoney {
    margin-left: 5px;
    margin-right: 10px;
}

/* Edit Balance Modal */
.edit-balance-modal {
    font-family: Orbitron;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: -5px 5px 5px #a2a2a2;
    background-color: #121212;
    color: white;
    /* width: 500px; */
    /* height: 200px; */
}

.close-edit-balance-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #9d9d9d47;
    color: white;
    padding: 5px;
    width: 25px;
    border-radius: 5px;
}

.close-edit-balance-modal:hover {
    background-color: #890000;
}

.edit-balance-modal div {
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 1.3;
}

.edit-balance-modal form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-balance-modal input {
    font-size: 16px;
    width: 200px;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
}

.edit-balance-modal button {
    font-family: 'Orbitron';
    font-size: 1rem;
    color: white;
    background-color: #19198a;
    border-style: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-left: 5px;
}

.edit-balance-modal button:hover {
    filter: brightness(1.2);
}

/* Place Bet Modal */
.placeBetModal {
    /* max-width: 100%; */
    margin: auto;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: -5px 5px 5px #a2a2a2;
    background-color: #121212;
    color: white;
    font-family: 'Orbitron';
}

.placeBetModal form {
    display: flex;
    flex-direction: column;
    /* width: 300px; */
    align-items: center;
}

.closeBetModal {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    width: 25px;
    padding: 5px;
    background-color: #9d9d9d47;
    font-family: 'Orbitron';
}

.closeBetModal:hover {
    /* filter: brightness(1.2); */
    background-color: #890000;
}

.placeBetModal h2 {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    /* margin-bottom: 0.5rem; */
    font-size: 1.7rem;
}

.pickATeam {
    margin-bottom: 10px;
}

.placeBetModal form div {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 250px;
    margin-top: 10px;
    /* border: 1px solid white; */
}

.placeBetModal form div label {
    margin-bottom: 2px;
}

.placeBetModal form div input {
    font-family: 'Orbitron';
    font-size: 16px;
    width: 100%;
    border-style: none;
    border-radius: 5px;
    padding: 3px;
}

.modalTeams {
    display: flex;
    justify-content: space-evenly;
}

.spreadDiv {
    display: flex;
}

.modalTeam1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #9d9d9d47;
}

.modalTeam2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.5rem;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #9d9d9d47;
}

/* .betModalHomeTeam {
    cursor: pointer;
} */

/* .betModalAwayTeam {
    cursor: pointer;
} */

#teamName {
    background-color: #9d9d9d;
    outline: none;
}

#opponent {
    background-color: #9d9d9d;
    outline: none;
}

#points {
    background-color: #9d9d9d;
    outline: none;
}

#price {
    background-color: #9d9d9d;
    outline: none;
}

#winnings {
    background-color: #9d9d9d;
    outline: none;
}

#gameId {
    background-color: #9d9d9d;
    outline: none;
}

#completed {
    background-color: #9d9d9d;
    outline: none;
}

#isWon {
    background-color: #9d9d9d;
    outline: none;
}

/* .betAmount {
    height: 1.5rem;
    padding-left: 0.1rem;
    width: 5rem;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.placeBet {
    font-family: 'Orbitron';
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #19198a;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem; */
}

.placeBet:hover {
    filter: brightness(1.2);
}

.main {
    height: auto;
}

footer {
    position: relative;
    margin-top: 100px;
}

/* Media Queries */
@media (max-width: 1440px) {
    .games {
        grid-template-columns: 1fr;
    }

    footer {
        position: relative;
        margin-top: 100px;
    }

    .names {
        font-size: 1rem;
        text-align: center;
    }

    .intro {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .record {
        margin-top: 100px;
    }
}