* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    /* background: url('../img/background.jpg'); */
}

/* Record */
.record {
    display: flex;
    justify-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

/* Spent Money */
.money {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 1rem;
    width: 15rem;
    font-size: 1.2rem;
    background-color: lightgrey;
    padding: 0.5rem;
}

.money button {
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
}

.money button:hover {
    filter: brightness(1.2);
}

/* Games */
.games {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
    background-color: lightgrey;
}

.info {
    display: flex;
    flex-direction: column;
}

.info div {
    padding-left: 1rem;
    padding-right: 1rem;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0.2rem;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.game button {
    padding: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
}

.game button:hover {
    filter: brightness(1.2);
}

/* Place Bet Modal */
.placeBetModal {
    max-width: 50%;
    margin: auto;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: -5px 5px 5px grey;
    background-color: #dbdbdb;
}

.closeBetModal {
    margin-left: auto;
    cursor: pointer;
    color: white;
    /* background-color: #a10f0f; */
    background-color: lightgrey;
    padding: 0.3rem;
    display: inline;
    border-radius: 5px;
}

.placeBetModal h2 {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.modalTeams {
    display: flex;
}

.modalTeam1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0.5rem;
}

.modalTeam2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0.5rem;
}

.betModalHomeTeam {
    cursor: pointer;
}

.betModalAwayTeam {
    cursor: pointer;
}

.betAmount {
    height: 1.5rem;
    padding-left: 0.1rem;
    width: 5rem;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.placeBet {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #6331c1;
    color: white;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
}

.closeBetModal:hover {
    filter: brightness(1.2);
}

.placeBet:hover {
    filter: brightness(1.2);
}