nav {
    display: flex;
    align-items: center;
    height: 3.5rem;
    background-color: lightgrey;
}

nav img {
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
    border-radius: 5px;
}

nav h1 {
    font-size: 2rem;
    margin-left: 0.2rem;
}

.beta {
    width: 4rem;
    height: auto;
}

/* Nav Links */
nav ul {
    display: flex;
    width: 10rem;
    justify-content: space-evenly;
    margin-top: 0.4rem;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    padding: 0.5rem;
    border-radius: 5px;
}

.cash {
    width: 2rem;
}

/* Account */
.accountDiv {
    color: #51f251;
    background-color: #9c9c9c;
    padding-left: 0.3rem;
    padding-right: 6rem;
    border-radius: 20px;
    height: 2rem;
    align-items: center;
    /* margin-left: 1rem; */
    font-size: 1.2rem;
    display: flex;
    /* border: 1px solid red; */
    /* margin-left: auto; */
}

.account {}

/* Nav Buttons */
.nav-buttons {
    display: flex;
    margin-left: auto;
    /* border: 1px solid blue; */
}

nav button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
}

/* Nav Hover */
nav img:hover {
    cursor: pointer;
}

nav h1:hover {
    cursor: pointer;
}

nav button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

nav ul li a:hover {
    background-color: lightblue;
}