nav {
    display: flex;
    align-items: center;
    height: 3.5rem;
    background-color: #484848;
}

.beta {
    width: 4rem;
    height: auto;
    background-color: #484848;
}

.logo {
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    filter: brightness(1.5);
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    padding-top: 0.8rem;
    color: white;
}

.name {
    width: 12rem;
    height: auto;
    margin-right: 1rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    width: 10rem;
    justify-content: space-evenly;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    padding: 0.4rem;
    border-radius: 15px;
    color: white;
    border-right: 2px solid #54b654;
}

nav ul li a:hover {
    color: lightgrey;
}

.cash {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #484848;
    margin-right: 0.2rem;
    margin-left: 0.5rem;
}

.accountDiv {
    color: white;
    border: 2px solid #54b654;
    padding-right: 5rem;
    border-radius: 20px;
    height: 2.3rem;
    align-items: center;
    font-size: 1.2rem;
    display: flex;
}

.nav-buttons {
    display: flex;
    margin-left: auto;
}

nav button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.6rem;
    border: none;
    border-radius: 15px;
    background-color: #19198a;
    color: white;
}

nav button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}