nav {
    display: flex;
    align-items: center;
    font-size: 1rem;
    height: 64px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    font-family: 'Orbitron';
    font-size: 1.3rem;
    color: #54b654;
    margin-left: 10px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 160px;
}

nav ul li a {
    font-family: 'Orbitron';
    color: white;
    text-decoration: none;
    border-right: 2px solid #54b654;
    border-radius: 15px;
    padding: 6px;
}

nav ul li a:hover {
    color: lightgrey;
}

.success {
    justify-content: center;
    align-items: center;
    font-family: 'Source Serif Pro';
    color: white;
    height: 40px;
    width: 100vw;
}

.error {
    justify-content: center;
    align-items: center;
    font-family: 'Source Serif Pro';
    color: white;
    height: 40px;
    width: 100vw;
}

.account-button-contain {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 20px;
    margin-left: auto;
}

.account-div {
    font-family: 'Orbitron';
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    border: 2px solid #54b654;
    border-radius: 20px;
    height: 35px;
    padding-right: 80px;
}

.account-div i {
    margin: 6px;
}

.nav-buttons a button {
    font-family: 'Orbitron';
    color: white;
    background-color: #19198a;
    border: none;
    border-radius: 12px;
    padding: 8px;
}

.nav-buttons a button:hover {
    cursor: pointer;
    filter: brightness(1.2);
}

.nav-login-button {
    margin-right: 10px;
    margin-left: 10px;
}

.logout-button {
    margin-left: 10px;
}